
@{
    ViewData["Title"] = "Список задач";
}
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/issue-style.css" asp-append-version="true" />
}
@section VendorScripts {
    <script src="~/vendor/js/issue-script.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}



@model List<BugTrackerV1.Models.ViewModel.IssueVM.IssueViewModel>;

<div class="container-fluid">
    <div class="bg-light p-4 rounded-3">
        <div>
            <form asp-controller="Issue" asp-action="Index">
                <div class="input-group mb-3">
                    <input id="searchInput" name="SearchString" type="search" class="form-control" placeholder="Поиск..." aria-label="Search..." aria-describedby="search-addon" oninput="filterTable()" />
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th>Автор</th>
                        <th>Исполнитель</th>
                        <th>Приоритет</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var issue in Model)
                    {
                        <tr class="alert" role="alert">
                            <td><a href="@Url.Action("Detail", "Issue", new {issueId = issue.Id})">#@issue.Id</a></td>
                            <td class="text-nowrap">
                                <div>
                                    <a class="text-nowrap">@issue.Title</a>
                                </div>
                            </td>
                            <td class="text-nowrap">
                                <div>
                                    @issue.CreatedBy.ShortNameUser
                                </div>
                            </td>
                            <td class="text-nowrap">
                                <div>
                                    @if (issue.AssignedTo == null)
                                    {
                                        <span>—</span>
                                    }
                                    else
                                    {
                                        <span>@issue.AssignedTo.ShortNameUser</span>
                                    }
                                </div>
                            </td>
                            <td class="text-nowrap">
                                <div class="priority row justify-content-start">
                                    <div class="icon col-1">
                                        <img class="priority-icon" src="@issue.PriorityImage" title="@issue.Priority" />
                                    </div>
                                    <div class="col-2">@(issue.Priority)</div>
                                </div>
                            </td>
                            <td class="text-nowrap">
                                @issue.Status
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>