@{
    Layout = "_ContentNavbarLayout";
    ViewData["isMenu"] = false; // Отключаем боковое меню
    ViewData["Title"] = "Settings - Account";
}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
    <link rel="stylesheet" href="~/vendor/css/pages/page-project.css">
}

@section VendorScripts {
    <script src="~/vendor/js/project-script.js" asp-append-version="true"></script>
}


@model List<BugTrackerV1.Models.Project>


<div class="container">
    <div class="d-flex bd-highlight mb-2">
        <h1 class="me-auto p-2 bd-highlight">Проекты</h1>
        <button class="btn btn-primary buttonSize" onclick="location.href='@Url.Action("Create", "Project")'">Создать проект</button>
    </div>
    <div class="search-bar">
        <input id="searchInput" type="search" oninput="filterTable()" placeholder="Поиск проектов">
    </div>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Ключ</th>
                <th>Тип</th>
                <th>Руководитель</th>
                <th>Дополнительные действия</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var project in Model)
            {
                <tr>
                    <td>
                        <form asp-action="Select" method="post" class="hidden">
                            <input type="hidden" name="projectId" value="@project.Id" />
                            <a href="#" class="project-link" onclick="this.closest('form').submit(); return false;">
                                @project.NameProject
                            </a>
                        </form>
                    </td>
                    <td>@project.KeyProject</td>
                    <td>Проект</td>
                    <td>
                        @project.User.ShortNameUser
                    </td>
                    <td><a href="@Url.Action("Edit", "Project", new {projectId = project.Id})">...</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>