@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    
*@
@{
}
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/app-kanban.css" asp-append-version="true" />
}
@section VendorScripts {
    <script src="~/vendor/js/app-kanban.js" asp-append-version="true"></script>
}


@model BugTrackerV1.Models.ViewModel.KanbanVM.KanbanViewModel;

<div class="row" id="kanbanContainer">
    @foreach (var status in Model.Kanbans)
    {
        <div class="col-md-3">
            <div data-status-id="@status.StatusId" class="kanban-column">
                <h4>@status.NameStatus</h4>
                <div class="kanban-column-content">
                    @foreach (var tasks in status.Cards)
                    {
                        <div id="card@(tasks.Id)" class="kanban-card" draggable="true" data-card-id="@tasks.Id">
                            <div class="content">
                                <div class="text">
                                    <div class="title">@(tasks.Title)</div>
                                    <div class="priority row justify-content-start">
                                        <div class="icon col-1">
                                            <img class="priority-icon" src="@tasks.PriorityImage" title="@tasks.Priority" />
                                        </div>
                                        <div class="col-2">@(tasks.Priority)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="kanban-footer">
                                <img class="avatarKanban" src="~/img/avatars/1.png" title="@tasks.CreatedBy">
                                <div class="icon">
                                    <img class="bug-icon" src="@tasks.TypeImage" title="@tasks.Type" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="arrow-left">L</div>
                <div class="arrow-right">R</div>
            </div>
        </div>
    }
</div>